@charset "UTF-8";

@import "reset", "common";

@mixin h2 {
    font-size: 49px;
    text-align: center;
    margin-bottom: 24px;
    line-height: 130%;
}

@mixin p {
    font-size: 22px;
    text-align: center;
    color: #555;
    line-height: 150%;
}

@mixin book_box {
    width: 145px;

    h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    h5 {
        color: #6f6f6f;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

@mixin scroll_event1 {
    transform: translateY(80px);
    transition: all 2s;
    opacity: 0;
}

@mixin scroll_event2 {
    transform: translateY(40px);
    transition: all 2s;
    opacity: 0;
}

/*addclass*/
.btn_on {
    background-color: #242424 !important;
    color: #fff;
}

.tap_on {
    background-color: #f7f7f7;
}

.intro_bg_color {
    width: 100%;
    height: 756px;
    background: linear-gradient(#f8faff 66.6%, #f0f4ff 0);
    position: absolute;
    top: 64px;
}

#intro {
    width: 1200px;
    height: 756px;
    margin: 0 auto;
    position: relative;
    top: 64px;
    background-image: url(../img/index/main-bg.png);
    background-size: 756px;
    background-repeat: no-repeat;
    background-position: 95% 55%;

    .intro_text {
        width: 1200px;
        height: 500px;
        margin: 0 auto;
        padding: 90px 40px 0px 40px;

        h2 {
            height: 220px;
            background-image: url(../img/index/slogan.png);
            background-repeat: no-repeat;
            background-size: 350px;
            animation: scroll_e1 2s;
        }

        p {
            margin-top: 310px;
            height: 45px;
            background-image: url(../img/index/millielibrary.png);
            background-repeat: no-repeat;
            background-size: 180px;
            animation: scroll_e2 2s;
        }

        @keyframes scroll_e1 {
            0% {
                transform: translateY(100px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes scroll_e2 {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }

            33% {
                transform: translateY(50px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

#slide_wrap {
    width: 100%;
    height: 1100px;
    padding: 144px 0px 80px 0px;

    h2 {
        @include h2;
        @include scroll_event1;
    }

    p {
        @include p;
        @include scroll_event2;
    }

    .slide1 {
        height: 220px;
        background-image: url(../img/index/slide01.png);
        background-repeat: repeat-x;
        background-size: 3000px;
        animation-name: slide_left;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-top: 50px;
    }

    .slide2 {
        height: 220px;
        background-image: url(../img/index/slide02.png);
        background-repeat: repeat-x;
        background-size: 3000px;
        animation-name: slide_right;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-top: -15px;
    }

    .slide3 {
        height: 220px;
        background-image: url(../img/index/slide03.png);
        background-repeat: repeat-x;
        background-size: 3000px;
        animation-name: slide_left;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-top: -15px;
    }

    @keyframes slide_left {
        from {
            background-position: 0px;
        }

        to {
            background-position: -3000px;
        }
    }

    @keyframes slide_right {
        from {
            background-position: -3000px;
        }

        to {
            background-position: 0px;
        }
    }
}

section {
    width: 100%;
    height: 2300px;
    padding-top: 80px;

    h2 {
        @include h2;
        @include scroll_event1;
    }

    p {
        @include p;
        @include scroll_event2;
    }

    .list1,
    .list2,
    .list3,
    .list4 {
        margin-top: 80px;

        h3 {
            width: 1130px;
            margin: 0 auto;
            font-size: 20px;
            margin-bottom: 16px;
        }

        ul {
            width: 1150px;
            height: 350px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            padding-top: 16px;
        }

        .box1,
        .box2,
        .box3,
        .box4 {
            @include book_box;
            position: relative;

            >img {
                width: 100%;
                padding-bottom: 10px;
            }

            .badge {
                img {
                    width: 40px;
                    height: 34px;
                    position: absolute;
                    top: 0;
                    right: -7px;
                }

                img:nth-of-type(2) {
                    width: 40px;
                    height: 34px;
                    position: absolute;
                    top: 25px;
                    right: -7px;
                }
            }
        }
    }
}

#category {
    width: 100%;
    height: 700px;

    h2 {
        @include h2;
        @include scroll_event1;
    }

    p {
        @include p;
        @include scroll_event2;
    }

    .genre {
        width: 1200px;
        margin: 0 auto;
        padding-top: 80px;
        position: relative;

        button {
            padding: 4px 16px;
            background-color: #fff;
            border-radius: 100px;
            border: 1px solid #242424;
            font-size: 14px;
            margin-left: 12px;
            cursor: pointer;
        }

        ul {
            width: 1200px;
            height: 350px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            padding-top: 16px;
            position: absolute;
        }

        .genre1 {
            @include book_box;

            img {
                width: 100%;
            }
        }

        .genre2,
        .genre3,
        .genre4,
        .genre5 {
            display: none;
            @include book_box;

            img {
                width: 100%;
            }
        }
    }
}

#reading {
    width: 100%;
    height: 850px;
    background-color: #f7f7f7;
    padding-top: 80px;

    h2 {
        @include h2;
        @include scroll_event1;
    }

    p {
        @include p;
        @include scroll_event2;
    }

    .reading_wrap {
        width: 900px;
        height: 500px;
        background-image: url(../img/index/reading-mock.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        position: relative;
        top: 52.5px;

        .reading_card {
            img:nth-of-type(1) {
                width: 20%;
                position: absolute;
                top: 50%;
                left: -10%;
            }

            img:nth-of-type(2) {
                width: 20%;
                position: absolute;
                top: 15%;
                left: 0%;
            }

            img:nth-of-type(3) {
                width: 20%;
                position: absolute;
                top: 15%;
                right: 0%;
            }

            img:nth-of-type(4) {
                width: 20%;
                position: absolute;
                top: 50%;
                right: -10%;
            }
        }

        .reading_pick {
            img {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
            }
        }
    }
}

#subscribing {
    width: 100%;
    height: 770px;
    background-color: #ffeb60;
    padding-top: 80px;

    h2 {
        @include h2;
        @include scroll_event1;
    }

    >p {
        @include p;
        @include scroll_event2;
    }

    .subscribing_price {
        width: 1024px;
        height: 300px;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        .subscribing_box {
            display: flex;

            li {
                width: 325px;
                background-color: #fff;
                padding: 32px;
                border-radius: 16px;
                margin-right: 24px;
                box-shadow: 10px 10px 40px rgb(0, 0, 0, 0.1);

                h3 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .month_price {
                    margin-bottom: 10px;

                    span {
                        font-size: 24px;
                        font-weight: 300;
                    }

                    .price {
                        font-size: 40px;
                        font-weight: 900;
                    }
                }

                .original_price {
                    padding-left: 20px;
                    display: flex;

                    span {
                        font-size: 18px;
                        font-weight: 300;
                        text-decoration: line-through;
                        color: #6f6f6f;
                        margin-right: 15px;
                    }

                    img {
                        width: 57px;
                    }
                }

                .year_price {
                    margin-top: -10px;

                    span {
                        font-size: 24px;
                        font-weight: 300;
                    }

                    .price {
                        font-size: 40px;
                        font-weight: 900;
                    }
                }

                .info {
                    font-size: 14px;
                    color: #6f6f6f;
                }
            }
        }

        .refund {
            li:nth-of-type(1) {
                border-bottom: 1px solid #fff;
                margin-top: 52px;
                padding-bottom: 26px;
            }

            li:nth-of-type(2) {
                padding-top: 26px;
            }

            li {
                width: 325px;
                display: flex;
                align-items: center;

                img {
                    width: 72px;
                    margin-right: 24px
                }

                p {
                    font-weight: 600;
                    text-align: left;
                }
            }
        }
    }
}

.contents_tap {
    width: 100%;
    height: 100px;

    ul {
        width: 1150px;
        margin: 0 auto;
        display: flex;

        li {
            width: 380px;
            height: 100px;
            padding-top: 26px;
            text-align: center;
            cursor: pointer;

            img {
                width: 24px;
            }

            div {
                font-size: 14px;
            }
        }
    }
}

#contents {
    width: 100%;
    height: 950px;
    background-color: #f7f7f7;

    .cw_2,
    .cw_3 {
        display: none;
    }

    .contents_wrap {
        width: 1440px;
        height: 950px;
        margin: 0 auto;
        padding: 72px 144px;
        position: relative;

        .contents_box1 {
            float: left;

            >img {
                width: 44px;
                margin-top: 24px
            }
        }

        h2 {
            @include h2;
            @include scroll_event1;
            text-align: left;
            margin-top: 24px
        }

        p {
            @include p;
            @include scroll_event2;
            text-align: left;
        }

        p:nth-of-type(2) {
            margin-top: 225px;
        }

        button {
            padding: 2px 18px;
            background-color: #f7f7f7;
            border-radius: 100px;
            border: 1px solid #242424;
            font-size: 14px;
            margin-top: 25px;
            margin-right: 5px;
            cursor: pointer;
        }

        .phone_border {
            img {
                width: 330px;
                height: 680px;
                position: absolute;
                right: 10%;
                z-index: 1;
                cursor: no-drop;
            }

        }

        .contents_box2 {
            width: 330px;
            height: 680px;
            float: right;
            overflow: hidden;
            border-radius: 55px;
        }

        .phone_wrap {
            width: 330px;
            display: flex;
            transition: transform ease-in-out 0.25s;

            img {
                width: 330px;
                height: 680px;
            }
        }
    }
}

#review {
    width: 100%;
    height: 500px;
    background-image: url(../img/index/review-bg.png);
    position: relative;

    .review_wrap {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

        iframe {
            margin-top: -60px;
            border: none;
        }

        h2 {
            @include h2;
            @include scroll_event1;
            display: inline-block;
            padding-top: 80px;
            text-align: left;
        }

        p {
            @include p;
            @include scroll_event2;
            text-align: left;
        }
    }
}

#qna {
    width: 100%;
    background-color: #ffeb60;
    padding-top: 80px;
    padding-bottom: 100px;

    h2 {
        @include h2;
    }

    ul {
        margin-top: 60px;

        li {
            width: 920px;
            background-color: #fff;
            margin: 0 auto;
            margin-bottom: 16px;
            border-radius: 20px;
            padding: 12px;
            cursor: pointer;
            box-shadow: 10px 10px 40px rgb(0, 0, 0, 0.1);

            .q {
                width: 95%;
                margin: 0 auto;
                font-size: 18px;
                font-weight: 600;

                img {
                    width: 29px;
                    float: right;
                }
            }

            .q_on {
                padding-bottom: 16px;
                border-bottom: 1px solid #242424;
            }

            .q_on img {
                transform: scaleY(-1);
            }

            .a {
                display: none;
                width: 95%;
                margin: 0 auto;
                padding-top: 16px;
                padding-bottom: 16px;
                color: #555;

                b {
                    color: #555;
                }
            }
        }
    }
}

#free_btn {
    button {
        width: 450px;
        background-color: #333;
        color: #fff;
        padding: 16px 0px;
        border: none;
        border-radius: 60px;
        margin: 0 auto;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        font-size: 16px;
        cursor: pointer;
        z-index: 2;

        b {
            color: #fff;
        }
    }
}
