@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  height: 64px;
  border-bottom: 0.5px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0deg, 0%, 100%, 0);
  padding: 0px 24px;
}
nav img {
  max-width: 56px;
}
nav .right_menu {
  display: flex;
  justify-content: space-around;
}
nav .right_menu .menu {
  padding: 20px 24px;
}
nav .right_menu .menu a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
nav .right_menu button {
  padding: 7px 25px;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  background-color: #333;
  color: #fff;
  line-height: 18px;
  letter-spacing: -0.5px;
  font-family: "Noto Sans KR", sans-serif;
}