@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.5px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.5px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 64px;
  border-bottom: 0.5px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  padding: 0px 24px;
  position: fixed;
  z-index: 5;
}
nav img {
  max-width: 56px;
}
nav .right_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .right_menu .menu {
  padding: 20px 24px;
}
nav .right_menu .menu a {
  font-weight: 400;
}
nav .right_menu button {
  padding: 7px 25px;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  background-color: #333;
  color: #fff;
  line-height: 18px;
  margin-left: 24px;
  cursor: pointer;
}

footer {
  width: 100%;
  padding-bottom: 100px;
}
footer .footer_head {
  width: 1250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
footer .footer_head span {
  font-weight: 600;
}
footer .footer_head img {
  width: 24px;
  cursor: pointer;
}
footer .footer_info {
  width: 1250px;
  margin: 0 auto;
}
footer .footer_info button {
  font-size: 10px;
  color: #a5a5a5;
  background-color: #fff;
  border: none;
  padding-bottom: 10px;
  cursor: pointer;
}
footer .footer_info ul {
  display: none;
  font-size: 10px;
}
footer .footer_info ul li {
  color: #a5a5a5;
  margin-right: 15px;
}
footer .footer_info .info_onoff {
  display: flex;
}
footer .footer_service {
  width: 1250px;
  margin: 0 auto;
}
footer .footer_service ul {
  display: flex;
  font-size: 12px;
  margin-top: 15px;
}
footer .footer_service ul li {
  margin-right: 12px;
}
footer .footer_service ul li a {
  color: #6f6f6f;
}
footer .footer_service ul li a b {
  color: #6f6f6f;
}
footer .footer_service p {
  font-size: 10px;
  color: #6f6f6f;
  margin-top: 20px;
}

/*addclass*/
.btn_on {
  background-color: #242424 !important;
  color: #fff;
}

.tap_on {
  background-color: #f7f7f7;
}

.intro_bg_color {
  width: 100%;
  height: 756px;
  background: linear-gradient(#f8faff 66.6%, #f0f4ff 0);
  position: absolute;
  top: 64px;
}

#intro {
  width: 1200px;
  height: 756px;
  margin: 0 auto;
  position: relative;
  top: 64px;
  background-image: url(../img/index/main-bg.png);
  background-size: 756px;
  background-repeat: no-repeat;
  background-position: 95% 55%;
}
#intro .intro_text {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding: 90px 40px 0px 40px;
}
#intro .intro_text h2 {
  height: 220px;
  background-image: url(../img/index/slogan.png);
  background-repeat: no-repeat;
  background-size: 350px;
  -webkit-animation: scroll_e1 2s;
          animation: scroll_e1 2s;
}
#intro .intro_text p {
  margin-top: 310px;
  height: 45px;
  background-image: url(../img/index/millielibrary.png);
  background-repeat: no-repeat;
  background-size: 180px;
  -webkit-animation: scroll_e2 2s;
          animation: scroll_e2 2s;
}
@-webkit-keyframes scroll_e1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scroll_e1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes scroll_e2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  33% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scroll_e2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  33% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#slide_wrap {
  width: 100%;
  height: 1100px;
  padding: 144px 0px 80px 0px;
}
#slide_wrap h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
}
#slide_wrap p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
#slide_wrap .slide1 {
  height: 220px;
  background-image: url(../img/index/slide01.png);
  background-repeat: repeat-x;
  background-size: 3000px;
  -webkit-animation-name: slide_left;
          animation-name: slide_left;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  margin-top: 50px;
}
#slide_wrap .slide2 {
  height: 220px;
  background-image: url(../img/index/slide02.png);
  background-repeat: repeat-x;
  background-size: 3000px;
  -webkit-animation-name: slide_right;
          animation-name: slide_right;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  margin-top: -15px;
}
#slide_wrap .slide3 {
  height: 220px;
  background-image: url(../img/index/slide03.png);
  background-repeat: repeat-x;
  background-size: 3000px;
  -webkit-animation-name: slide_left;
          animation-name: slide_left;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  margin-top: -15px;
}
@-webkit-keyframes slide_left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@keyframes slide_left {
  from {
    background-position: 0px;
  }
  to {
    background-position: -3000px;
  }
}
@-webkit-keyframes slide_right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}
@keyframes slide_right {
  from {
    background-position: -3000px;
  }
  to {
    background-position: 0px;
  }
}

section {
  width: 100%;
  height: 2300px;
  padding-top: 80px;
}
section h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
}
section p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
section .list1,
section .list2,
section .list3,
section .list4 {
  margin-top: 80px;
}
section .list1 h3,
section .list2 h3,
section .list3 h3,
section .list4 h3 {
  width: 1130px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 16px;
}
section .list1 ul,
section .list2 ul,
section .list3 ul,
section .list4 ul {
  width: 1150px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 16px;
}
section .list1 .box1,
section .list1 .box2,
section .list1 .box3,
section .list1 .box4,
section .list2 .box1,
section .list2 .box2,
section .list2 .box3,
section .list2 .box4,
section .list3 .box1,
section .list3 .box2,
section .list3 .box3,
section .list3 .box4,
section .list4 .box1,
section .list4 .box2,
section .list4 .box3,
section .list4 .box4 {
  width: 145px;
  position: relative;
}
section .list1 .box1 h4,
section .list1 .box2 h4,
section .list1 .box3 h4,
section .list1 .box4 h4,
section .list2 .box1 h4,
section .list2 .box2 h4,
section .list2 .box3 h4,
section .list2 .box4 h4,
section .list3 .box1 h4,
section .list3 .box2 h4,
section .list3 .box3 h4,
section .list3 .box4 h4,
section .list4 .box1 h4,
section .list4 .box2 h4,
section .list4 .box3 h4,
section .list4 .box4 h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
section .list1 .box1 h5,
section .list1 .box2 h5,
section .list1 .box3 h5,
section .list1 .box4 h5,
section .list2 .box1 h5,
section .list2 .box2 h5,
section .list2 .box3 h5,
section .list2 .box4 h5,
section .list3 .box1 h5,
section .list3 .box2 h5,
section .list3 .box3 h5,
section .list3 .box4 h5,
section .list4 .box1 h5,
section .list4 .box2 h5,
section .list4 .box3 h5,
section .list4 .box4 h5 {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
section .list1 .box1 > img,
section .list1 .box2 > img,
section .list1 .box3 > img,
section .list1 .box4 > img,
section .list2 .box1 > img,
section .list2 .box2 > img,
section .list2 .box3 > img,
section .list2 .box4 > img,
section .list3 .box1 > img,
section .list3 .box2 > img,
section .list3 .box3 > img,
section .list3 .box4 > img,
section .list4 .box1 > img,
section .list4 .box2 > img,
section .list4 .box3 > img,
section .list4 .box4 > img {
  width: 100%;
  padding-bottom: 10px;
}
section .list1 .box1 .badge img,
section .list1 .box2 .badge img,
section .list1 .box3 .badge img,
section .list1 .box4 .badge img,
section .list2 .box1 .badge img,
section .list2 .box2 .badge img,
section .list2 .box3 .badge img,
section .list2 .box4 .badge img,
section .list3 .box1 .badge img,
section .list3 .box2 .badge img,
section .list3 .box3 .badge img,
section .list3 .box4 .badge img,
section .list4 .box1 .badge img,
section .list4 .box2 .badge img,
section .list4 .box3 .badge img,
section .list4 .box4 .badge img {
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: -7px;
}
section .list1 .box1 .badge img:nth-of-type(2),
section .list1 .box2 .badge img:nth-of-type(2),
section .list1 .box3 .badge img:nth-of-type(2),
section .list1 .box4 .badge img:nth-of-type(2),
section .list2 .box1 .badge img:nth-of-type(2),
section .list2 .box2 .badge img:nth-of-type(2),
section .list2 .box3 .badge img:nth-of-type(2),
section .list2 .box4 .badge img:nth-of-type(2),
section .list3 .box1 .badge img:nth-of-type(2),
section .list3 .box2 .badge img:nth-of-type(2),
section .list3 .box3 .badge img:nth-of-type(2),
section .list3 .box4 .badge img:nth-of-type(2),
section .list4 .box1 .badge img:nth-of-type(2),
section .list4 .box2 .badge img:nth-of-type(2),
section .list4 .box3 .badge img:nth-of-type(2),
section .list4 .box4 .badge img:nth-of-type(2) {
  width: 40px;
  height: 34px;
  position: absolute;
  top: 25px;
  right: -7px;
}

#category {
  width: 100%;
  height: 700px;
}
#category h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
}
#category p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
#category .genre {
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}
#category .genre button {
  padding: 4px 16px;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #242424;
  font-size: 14px;
  margin-left: 12px;
  cursor: pointer;
}
#category .genre ul {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 16px;
  position: absolute;
}
#category .genre .genre1 {
  width: 145px;
}
#category .genre .genre1 h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#category .genre .genre1 h5 {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#category .genre .genre1 img {
  width: 100%;
}
#category .genre .genre2,
#category .genre .genre3,
#category .genre .genre4,
#category .genre .genre5 {
  display: none;
  width: 145px;
}
#category .genre .genre2 h4,
#category .genre .genre3 h4,
#category .genre .genre4 h4,
#category .genre .genre5 h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#category .genre .genre2 h5,
#category .genre .genre3 h5,
#category .genre .genre4 h5,
#category .genre .genre5 h5 {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#category .genre .genre2 img,
#category .genre .genre3 img,
#category .genre .genre4 img,
#category .genre .genre5 img {
  width: 100%;
}

#reading {
  width: 100%;
  height: 850px;
  background-color: #f7f7f7;
  padding-top: 80px;
}
#reading h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
}
#reading p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
#reading .reading_wrap {
  width: 900px;
  height: 500px;
  background-image: url(../img/index/reading-mock.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
  top: 52.5px;
}
#reading .reading_wrap .reading_card img:nth-of-type(1) {
  width: 20%;
  position: absolute;
  top: 50%;
  left: -10%;
}
#reading .reading_wrap .reading_card img:nth-of-type(2) {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 0%;
}
#reading .reading_wrap .reading_card img:nth-of-type(3) {
  width: 20%;
  position: absolute;
  top: 15%;
  right: 0%;
}
#reading .reading_wrap .reading_card img:nth-of-type(4) {
  width: 20%;
  position: absolute;
  top: 50%;
  right: -10%;
}
#reading .reading_wrap .reading_pick img {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#subscribing {
  width: 100%;
  height: 770px;
  background-color: #ffeb60;
  padding-top: 80px;
}
#subscribing h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
}
#subscribing > p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
#subscribing .subscribing_price {
  width: 1024px;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
#subscribing .subscribing_price .subscribing_box {
  display: flex;
}
#subscribing .subscribing_price .subscribing_box li {
  width: 325px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  margin-right: 24px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
#subscribing .subscribing_price .subscribing_box li h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
#subscribing .subscribing_price .subscribing_box li .month_price {
  margin-bottom: 10px;
}
#subscribing .subscribing_price .subscribing_box li .month_price span {
  font-size: 24px;
  font-weight: 300;
}
#subscribing .subscribing_price .subscribing_box li .month_price .price {
  font-size: 40px;
  font-weight: 900;
}
#subscribing .subscribing_price .subscribing_box li .original_price {
  padding-left: 20px;
  display: flex;
}
#subscribing .subscribing_price .subscribing_box li .original_price span {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #6f6f6f;
  margin-right: 15px;
}
#subscribing .subscribing_price .subscribing_box li .original_price img {
  width: 57px;
}
#subscribing .subscribing_price .subscribing_box li .year_price {
  margin-top: -10px;
}
#subscribing .subscribing_price .subscribing_box li .year_price span {
  font-size: 24px;
  font-weight: 300;
}
#subscribing .subscribing_price .subscribing_box li .year_price .price {
  font-size: 40px;
  font-weight: 900;
}
#subscribing .subscribing_price .subscribing_box li .info {
  font-size: 14px;
  color: #6f6f6f;
}
#subscribing .subscribing_price .refund li:nth-of-type(1) {
  border-bottom: 1px solid #fff;
  margin-top: 52px;
  padding-bottom: 26px;
}
#subscribing .subscribing_price .refund li:nth-of-type(2) {
  padding-top: 26px;
}
#subscribing .subscribing_price .refund li {
  width: 325px;
  display: flex;
  align-items: center;
}
#subscribing .subscribing_price .refund li img {
  width: 72px;
  margin-right: 24px;
}
#subscribing .subscribing_price .refund li p {
  font-weight: 600;
  text-align: left;
}

.contents_tap {
  width: 100%;
  height: 100px;
}
.contents_tap ul {
  width: 1150px;
  margin: 0 auto;
  display: flex;
}
.contents_tap ul li {
  width: 380px;
  height: 100px;
  padding-top: 26px;
  text-align: center;
  cursor: pointer;
}
.contents_tap ul li img {
  width: 24px;
}
.contents_tap ul li div {
  font-size: 14px;
}

#contents {
  width: 100%;
  height: 950px;
  background-color: #f7f7f7;
}
#contents .cw_2,
#contents .cw_3 {
  display: none;
}
#contents .contents_wrap {
  width: 1440px;
  height: 950px;
  margin: 0 auto;
  padding: 72px 144px;
  position: relative;
}
#contents .contents_wrap .contents_box1 {
  float: left;
}
#contents .contents_wrap .contents_box1 > img {
  width: 44px;
  margin-top: 24px;
}
#contents .contents_wrap h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
  text-align: left;
  margin-top: 24px;
}
#contents .contents_wrap p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
  text-align: left;
}
#contents .contents_wrap p:nth-of-type(2) {
  margin-top: 225px;
}
#contents .contents_wrap button {
  padding: 2px 18px;
  background-color: #f7f7f7;
  border-radius: 100px;
  border: 1px solid #242424;
  font-size: 14px;
  margin-top: 25px;
  margin-right: 5px;
  cursor: pointer;
}
#contents .contents_wrap .phone_border img {
  width: 330px;
  height: 680px;
  position: absolute;
  right: 10%;
  z-index: 1;
  cursor: no-drop;
}
#contents .contents_wrap .contents_box2 {
  width: 330px;
  height: 680px;
  float: right;
  overflow: hidden;
  border-radius: 55px;
}
#contents .contents_wrap .phone_wrap {
  width: 330px;
  display: flex;
  transition: transform ease-in-out 0.25s;
}
#contents .contents_wrap .phone_wrap img {
  width: 330px;
  height: 680px;
}

#review {
  width: 100%;
  height: 500px;
  background-image: url(../img/index/review-bg.png);
  position: relative;
}
#review .review_wrap {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#review .review_wrap iframe {
  margin-top: -60px;
  border: none;
}
#review .review_wrap h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
  transform: translateY(80px);
  transition: all 2s;
  opacity: 0;
  display: inline-block;
  padding-top: 80px;
  text-align: left;
}
#review .review_wrap p {
  font-size: 22px;
  text-align: center;
  color: #555;
  line-height: 150%;
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
  text-align: left;
}

#qna {
  width: 100%;
  background-color: #ffeb60;
  padding-top: 80px;
  padding-bottom: 100px;
}
#qna h2 {
  font-size: 49px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 130%;
}
#qna ul {
  margin-top: 60px;
}
#qna ul li {
  width: 920px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
#qna ul li .q {
  width: 95%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
}
#qna ul li .q img {
  width: 29px;
  float: right;
}
#qna ul li .q_on {
  padding-bottom: 16px;
  border-bottom: 1px solid #242424;
}
#qna ul li .q_on img {
  transform: scaleY(-1);
}
#qna ul li .a {
  display: none;
  width: 95%;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #555;
}
#qna ul li .a b {
  color: #555;
}

#free_btn button {
  width: 450px;
  background-color: #333;
  color: #fff;
  padding: 16px 0px;
  border: none;
  border-radius: 60px;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
}
#free_btn button b {
  color: #fff;
}